<h1>submit a new recipe!!!</h1>

<form action="/recipes" method="POST">
<p>Recipe Name: <input name="recipe[name]"></p>
<p>Ingredients: <input name="recipe[ingredients]"></p>
<p>Cook Time (in minutes): <input name="recipe[cook_time]"></p>
<input type="submit" value="add my recipe!"/>
</form>