<h1>Add a recipe:</h1>
<form method="POST" action="/recipes">
<p>Name:<input type="text" name="recipe[name]">
<p>Ingredients:<input type="text" name="recipe[ingredients]">
<p>Cooking time:<input type="number" name="recipe[cook_time]">
<p><input type= "submit"></p>
</form>